.ipynb_checkpoints/
input/
artifacts/
*.db
mlruns/
output/
*.b
sample/
docker-compose
*.parquet
*__pycache__*
**/.terraform/*
*.tfstate
*.tfstate.*
tryouts/
*.pytest_cache*
output/
.vscode
Untitled.ipynb