.ipynb_checkpoints/
input/
artifacts/
*.db
mlruns/
output/
*.b
sample/
docker-compose
*.parquet
!lgb_predictions_wo_family_v1.parquet
!lgb_predictions_wo_family_v2.parquet
!items.parquet
*__pycache__*
**/.terraform/*
*.tfstate
*.tfstate.*
tryouts/
*.pytest_cache*
output/
.vscode
logs/
