[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
lightgbm = "*"
flask = "*"
pyarrow = "*"

[dev-packages]
pytest = "*"
pre-commit = "*"
pyarrow = "*"
pylint = "*"
black = "*"
isort = "*"
mlflow = "*"
boto3 = "*"
prefect = "*"
kaggle = "*"

[requires]
python_version = "3.9"
